body {
    background-color: black;
    font-family: Serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 3rem;
    }
    .card-body
    {
    background-color: rgb(5, 179, 179);
    }
    
